.boKPYq {
    height: auto;
    width: 1200px;
    margin: 0 auto;
    .digzXy {
        height: 45px;
        width: 100%;
        line-height: 45px;
        color: #a3a3a3;
    }
    .cobIRk {
        height: auto;
        width: 1200px;
        box-sizing: border-box;
        background: #ffffff;
        box-shadow: #f1f1f1 0 0 1px;
        .gdQmFd {
            position: relative;
            padding: 0 0 20px 0;
            .cnZstM {
                height: 52px;
                width: 1160px;
                line-height: 52px;
                padding: 0 5px 0 0;
                box-sizing: border-box;
                margin: 0 auto;
            }
        }
        .dTaAdI {
            margin: 10px 0 0 0;
            height: 48px;
            width: 100%;
            line-height: 48px;
            border-top: #efefef 1px solid;
            color: #666666;
            box-shadow: #fafafa 0 -1px 2px;
            .lcRLSj {
                float: left;
                margin: 0 0 0 20px;
                font-size: 14px;
                color: #666666;
                .dhEFau {
                    float: left;
                    height: 99%;
                    width: 40px;
                    text-align: center;
                }
            }
            .hPtVKw {
                float: right;
            }
        }
    }
}

.fWrwWU {
    float: left;
    width: 230px;
    text-align: center;
    box-sizing: border-box;
}
.canDc {
    text-align: left;
    padding: 0 0 0 33px;
    margin: 0 0 0 163px;
}
.cpbYri {
    width: 170px;
}
.ccwVLU {
    width: 215px;
}
.hKQHp {
    width: 155px;
}
.dhEFau {
    float: left;
    height: 99%;
    width: 40px;
    text-align: center;
}
.hEFYKq.checked {
    background: #ff464e;
    border-color: #ff464e;
}
.hEFYKq.checked:before {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
}
.hEFYKq {
    position: relative;
    top: -1px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    border: #9B9B9B 1px solid;
    width: 15px;
    height: 15px;
    line-height: 15px;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.hEFYKq:before {
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(0) scale(0);
    -ms-transform: rotate(0) scale(0);
    transform: rotate(0) scale(0);
    display: table;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    width: 3px;
    height: 7px;
    left: 5px;
    top: 2px;
    -webkit-transition: all 0.3s cubic-bezier(0.12,0.4,0.29,1.46);
    transition: all 0.3s cubic-bezier(0.12,0.4,0.29,1.46);
}
.hEoyiQ {
    padding: 0 10px 0 0px;
    display: inline;
}
.jklnfm {
    position: relative;
    top: -1px;
    padding: 0 5px 0 0;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}
.jgeReN:first-child {
    border-top: #efefef 1px solid;
}
.jgeReN {
    position: relative;
    height: 126px;
    width: 1158px;
    border: #efefef 1px solid;
    border-top: 0;
    background: #fafafa;
    margin: 0 auto;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.hsCwkx {
    padding: 55px 0;
    box-sizing: border-box;
}
.dTmrnm {
    float: left;
    height: 100px;
    width: 100px;
    margin: 13px 0 13px 0;
}
.fFbWQU {
    color: #666666;
    font-weight: 400;
    min-height: 40px;
    display: block;
    padding: 0 0 10px 0;
}
.fNZORM {
    color: #999999;
}
.jFEPfJ {
    color: #cccccc;
    padding: 0 0 0 5px;
    font-size: 12px;
    font-style: normal;
}
.fFwBrd {
    color: #ff464e;
    padding: 0 3px 0 5px;
}
.jKWKYq {
    border-right: #e1e1e1 1px solid;
}
.eXJNFH {
    height: 20px;
    width: 20px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    color: #cccccc;
    background: #ffffff;
    font-size: 14px;
    cursor: not-allowed;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.jqPibT {
    height: 20px;
    width: 20px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    color: #666666;
    background: #ffffff;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.ewFBmF {
    background: url(../images/delete.91359608.png);
    -webkit-transition: -webkit-transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
}
.carNkP {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 38px auto 0 0;
    cursor: pointer;
    background-position: center center;
}
.eywEEl {
    width: auto;
    color: #999999;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px 0 10px;
    height: 19px;
}
.dhEFau {
    float: left;
    height: 99%;
    width: 40px;
    text-align: center;
}
.bHFcVk {
    padding: 0 13px 0 13px;
    line-height: 18px;
    margin-left: 6px;
}
.hpxIDz {
    float: left;
    margin: 13px 0 13px 0;
    height: 100px;
    width: 230px;
    box-sizing: border-box;
}
.gqzEPU {
    text-align: center;
    font-size: 14px;
    line-height: 100px;
}
.cABebT {
    height: 22px;
    width: auto;
    border: #e1e1e1 1px solid;
    margin: 52px 43px 0 43px;
}
.dQIiuS {
    text-align: center;
    font-size: 14px;
    color: #ff464e;
    line-height: 100px;
}
.giPVvt {
    width: 135px;
    text-align: right;
}
.eRltkm {
    color: #ff464e;
    padding: 0 5px 0 5px;
}
.jZoxra {
    padding: 0 5px 0 5px;
    font-size: 12px;
}
.jUfYqO {
    color: #ff464e;
    font-size: 18px;
    padding: 0 5px 0 5px;
}
.POmDt {
    position: relative;
    top: -2px;
    height: 48px;
    width: 200px;
    background: #ff464e;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border: 0;
    margin: 0 0 0 25px;
    cursor: pointer;
    outline: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}